# Telegram Bot Token (from @BotFather)
BOT_TOKEN=ваша_токена_бота

# Remnawave API Settings
REMNWAVE_API_URL=https://panelhide.su
REMNWAVE_API_TOKEN=ваш_токен_remnawave

# Subscription Settings
DEFAULT_TRIAL_DAYS=30
SUB_DOMAIN=sub.panelhide.su/api/sub
SQUAD_UUID=ваш_squad_uuid_из_панели (необязательно)

# Database Settings
DATABASE_URL=sqlite:///./bot.db
